Client Follow-Up Assistant2.json
{
  "name": "Client Follow-Up Assistant2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9ee0fcf8-0075-4eef-8539-d1b47db3ef82",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "Label_8565201023173927583"
          ],
          "q": "older_than:7d"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "e7192f9f-570a-49bd-8ec8-841873ca19c1",
      "name": "Get many messages",
      "webhookId": "ca5eaf15-1859-4dbf-a0ed-f77ddc358ed0",
      "credentials": {
        "gmailOAuth2": {
          "id": "kN4udFTceFphL39C",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are helping Imane, a project manager at a web development agency, write client follow-ups. Imane emails clients asking for things like links, content, images, feedback, or answers to questions. Sometimes clients don't reply, and Imane needs a ready-to-send draft to nudge them.\n\nYou will be given ONE email that Imane sent to a client and is still waiting on a response for.\n\nOriginal subject:\n{{ $json.Subject }}\n\nOriginal email:\n{{ $json.snippet }}\n\nWrite ONLY the body of a follow-up email, written FROM Imane TO the client.\n\nRules:\n- The email is from Imane to the client. Address the client, never address Imane.\n- Imane is the sender and signs off at the bottom as Imane.\n- Friendly and professional.\n- Under 100 words.\n- Mention specifically what is still needed, based on the original email.\n- Do not invent details that aren't in the email. If the client's name isn't clear, start with \"Hi there\".\n- No em dashes.\n- Start with the greeting and end with \"Best,\" then \"Imane\". Do not add a subject line or any headers. Output only the email body.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        608,
        0
      ],
      "id": "ed978bcb-babe-4ac7-938a-3f90cf550bc1",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1024,
        320
      ],
      "id": "f8a7d46c-4742-495d-823f-96360cac1499",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5kWJzbrVdd7gjtFT",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "imanemansouri24@augustana.edu",
        "subject": "Client Follow-Up Assistant",
        "emailType": "text",
        "message": "=Client: {{ $('Get many messages').item.json.To }}\nOriginal subject: {{ $('Get many messages').item.json.Subject }}\n\nHere's a follow-up draft ready to send:\n\nSubject: Re: {{ $('Get many messages').item.json.Subject }}\n\n{{ $json.text }}\n\n----- Original email for context -----\nSubject: {{ $('Get many messages').item.json.Subject }}\n\n{{ $('Get many messages').item.json.snippet }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        0
      ],
      "id": "7a9b66df-c4bd-40ed-864d-253f531203e1",
      "name": "Send a message",
      "webhookId": "fbec0b6d-8174-436b-814a-395d8a1456a0",
      "credentials": {
        "gmailOAuth2": {
          "id": "gxNWtZNbCooXycX6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Where I interned, client follow-ups kept falling through the cracks. I'd lose track of who I was waiting to hear back from until a project had stalled for days and I'd have to scramble to remember what I'd even asked for. So I built an n8n automation that checks my sent folder every morning for emails tagged \"Waiting_On_Client,\" has AI draft a follow-up based on the original message, and sends it to me with the client's name and the original subject so I can review and fire it off in seconds. While building it, I hit an edge case, the system would nag me about emails that were only a day or two old, so instead of letting that block shipping, I scoped a 10-day threshold as a clear next iteration. It's a small tool, but it replaced a manual habit I kept failing at with something that actually surfaces what needs my attention, when it needs it.",
        "width": 1184
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        -432
      ],
      "id": "95b432f4-2c64-4296-a6dc-28e9935d2aa3",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "56b6a28e-a11c-4910-8591-6079f661a79d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7036d3f371ac6ef9548350b33d261f546acc85a3f46cd7dfcdadba0a40ac25bc"
  },
  "nodeGroups": [],
  "id": "jX3G0sGRQfvb1LIz",
  "tags": []
}